## Grupo 5 - WH5 - R
### Integrantes
- Diego
- Teresa
- Yoberson

In [34]:
#install.packages('readstata13')

pacman::p_load(tidyverse, haven, dplyr, foreign,glue, devtools, expss)

library(readstata13)

library(tidyr)  # RE for R
#library(dplyr)
#library(foreign)

In [3]:
#Data ENAHO PANEL 2015-2019
data1 <- read_dta("../../data/Juntos_program/data.dta", encoding = "latin1")
#Data Programa Juntos
data2 <- read_dta("../../data/Juntos_program/unidos.dta", encoding = "latin1")

In [4]:
names(data1)

 [1] "numper"     "numpanh15"  "numpanh16"  "numpanh17"  "numpanh18"
 [6] "numpanh19"  "mes_15"     "ubigeo_15"  "dominio_15" "p400a3_15"
[11] "p4022_15"   "mes_16"     "ubigeo_16"  "dominio_16" "p400a3_16"
[16] "p4022_16"   "mes_17"     "ubigeo_17"  "dominio_17" "p400a3_17"
[21] "p4022_17"   "mes_18"     "ubigeo_18"  "dominio_18" "p400a3_18"
[26] "p4022_18"   "mes_19"     "ubigeo_19"  "dominio_19" "p400a3_19"
[31] "p4022_19"

In [6]:
head(data1)

  numper numpanh15 numpanh16 numpanh17 numpanh18 numpanh19 mes_15 ubigeo_15
1 15368  1158      1158      1158      1158      1158      11     10101
2 15369  1158      1158      1158      1158      1158      11     10101
3 15380  1162      1162      1162      1162      1162      11     10101
4 15381  1162      1162      1162      1162      1162      11     10101
5 15410  1185      1185      1185      1185      1185       7     10101
6 15412  1186      1186      1186      1186      1186       7     10101
  dominio_15   p400a3_15 ... mes_18 ubigeo_18 dominio_18   p400a3_18 p4022_18
1 sierra norte 1946      ... 12     10101     sierra norte 1946      0
2 sierra norte 1973      ... 12     10101     sierra norte 1973      0
3 sierra norte 1987      ... 12     10101     sierra norte 1987      0
4 sierra norte 2009      ... 12     10101     sierra norte 2009      0
5 sierra norte 1955      ...  7     10101     sierra norte 1955      0
6 sierra norte 1966      ...  7     10101     sierra norte 1966      0
  mes_19 ubigeo_19 dominio_19   p400a3_19 p4022_19
1 11     10101     sierra norte 1946      0
2 11     10101     sierra norte 1973      0
3 11     10101     sierra norte 1987      1
4 11     10101     sierra norte 2009      0
5  7     10101     sierra norte 1955      1
6  7     10101     sierra norte 1966      0

In [6]:
head(data2)

  ubigeo distrito    provincia   region   unidos
1 10101  Chachapoyas Chachapoyas Amazonas 1
2 10102  Asuncion    Chachapoyas Amazonas 1
3 10103  Balsas      Chachapoyas Amazonas 0
4 10104  Cheto       Chachapoyas Amazonas 1
5 10105  Chiliquin   Chachapoyas Amazonas 0
6 10106  Chuquibamba Chachapoyas Amazonas 1

### Replicación Clean DHS

In [37]:
names <- names(data1)
filter_list <- c()

for (i in 1:length(names)){
        w <-  gsub('[/_]','', names[i])
        filter_list[i] <- w
        print(w)    
}

[1] "numper"
[1] "numpanh15"
[1] "numpanh16"
[1] "numpanh17"
[1] "numpanh18"
[1] "numpanh19"
[1] "mes15"
[1] "ubigeo15"
[1] "dominio15"
[1] "p400a315"
[1] "p402215"
[1] "mes16"
[1] "ubigeo16"
[1] "dominio16"
[1] "p400a316"
[1] "p402216"
[1] "mes17"
[1] "ubigeo17"
[1] "dominio17"
[1] "p400a317"
[1] "p402217"
[1] "mes18"
[1] "ubigeo18"
[1] "dominio18"
[1] "p400a318"
[1] "p402218"
[1] "mes19"
[1] "ubigeo19"
[1] "dominio19"
[1] "p400a319"
[1] "p402219"

In [38]:
names(data1) <- filter_list
names(data1)

 [1] "numper"    "numpanh15" "numpanh16" "numpanh17" "numpanh18" "numpanh19"
 [7] "mes15"     "ubigeo15"  "dominio15" "p400a315"  "p402215"   "mes16"
[13] "ubigeo16"  "dominio16" "p400a316"  "p402216"   "mes17"     "ubigeo17"
[19] "dominio17" "p400a317"  "p402217"   "mes18"     "ubigeo18"  "dominio18"
[25] "p400a318"  "p402218"   "mes19"     "ubigeo19"  "dominio19" "p400a319"
[31] "p402219"

#### Data ENAHO Panel

In [7]:
year <- c("15","16","17","18","19")
names(data1)[grepl(year[1],names(data1))]

[1] "numpanh15"  "mes_15"     "ubigeo_15"  "dominio_15" "p400a3_15"
[6] "p4022_15"

In [13]:
#Creamos base de datos por año, Quitamos numeros a las variables y creamos variable year 
#respectivamente. 
year <- c("15","16","17","18","19")

for (i in 1:5){
    temp <- names(data1)[grepl(year[i],names(data1))]
    if (year[i]=="15"){
        data_panel <- data1[c("numper",temp)]
        asd <- glue("{year[1]}$")
        names(data1)[grepl(year[i],names(data1))]
        data_panel$year <- glue("20{year[1]}")
    }
    else{
        data_temp <- data1[c("numper",temp)]
        asd <- glue("{year[i]}$")
        names(data_temp) <- gsub(asd, '', names(data_temp))
        data_temp$year <- glue("20{year[i]}")
        data_panel <- rbind(data_panel, data_temp)
    }
    
}

In [21]:
#Data ENAHO (panel 2015-2019) LIMPIA.
names(data_panel) <- gsub("_$","",names(data_panel))
head(data_panel)

  numper numpanh mes ubigeo dominio      p400a3 p4022 year
1 15368  1158    11  10101  sierra norte 1946   0     2015
2 15369  1158    11  10101  sierra norte 1973   0     2015
3 15380  1162    11  10101  sierra norte 1987   1     2015
4 15381  1162    11  10101  sierra norte 2009   1     2015
5 15410  1185     7  10101  sierra norte 1955   0     2015
6 15412  1186     7  10101  sierra norte 1966   0     2015

#### MERGE

In [22]:
#### Combinamos las bases de PANEL ENAHO y programa Juntos
base_total <- merge( data_panel, data2, by = c("ubigeo"), all.x = TRUE)

In [59]:
head(base_total)

  ubigeo numper numpanh mes dominio      p400a3 p4022 year distrito
1 10101  15368  1158    11  sierra norte 1946   0     2015 Chachapoyas
2 10101  15369  1158    11  sierra norte 1973   0     2015 Chachapoyas
3 10101  15380  1162    11  sierra norte 1987   1     2015 Chachapoyas
4 10101  15381  1162    11  sierra norte 2009   1     2015 Chachapoyas
5 10101  15410  1185     7  sierra norte 1955   0     2015 Chachapoyas
6 10101  15412  1186     7  sierra norte 1966   0     2015 Chachapoyas
  provincia   region   unidos
1 Chachapoyas Amazonas 1
2 Chachapoyas Amazonas 1
3 Chachapoyas Amazonas 1
4 Chachapoyas Amazonas 1
5 Chachapoyas Amazonas 1
6 Chachapoyas Amazonas 1

### LABELS

In [35]:
var_lab(base_total$numper) = "Unique individual identifier"

In [47]:
var_lab(base_total$numpanh) = "Unique household identifier in each year"

In [37]:
var_lab(base_total$mes) = "Month of the survey"

In [48]:
var_lab(base_total$p400a3) = "Year of birth of the person, reported in each year"

In [42]:
# DUMMY:
var_lab(base_total$p4022) = "Dummy : 1 if the person was sick in the last 4 weeks"

In [45]:
var_lab(base_total$unidos) = "Dummy : 1 if Programa Juntos was applied in the district"

In [49]:
str(base_total)

'data.frame':	27730 obs. of  12 variables:
 $ ubigeo   : num  10101 10101 10101 10101 10101 ...
 $ numper   :Class 'labelled' num  15368 15369 15380 15381 15410 ...
   .. .. LABEL: Unique individual identifier
 $ numpanh  :Class 'labelled' num  1158 1158 1162 1162 1185 ...
   .. .. LABEL: Unique household identifier in each year
 $ mes      :Class 'labelled' num  11 11 11 11 7 7 7 7 11 11 ...
   .. .. LABEL: Month of the survey in 2015
 $ dominio  : chr  "sierra norte" "sierra norte" "sierra norte" "sierra norte" ...
 $ p400a3   :Class 'labelled' num  1946 1973 1987 2009 1955 ...
   .. .. LABEL: Year of birth of the person, reported in each year
 $ p4022    :Class 'labelled' num  0 0 1 1 0 0 0 0 0 0 ...
   .. .. LABEL: Dummy : 1 if the person was sick in the last 4 weeks
 $ year     : 'glue' chr  "2015" "2015" "2015" "2015" ...
 $ distrito : chr  "Chachapoyas" "Chachapoyas" "Chachapoyas" "Chachapoyas" ...
 $ provincia: chr  "Chachapoyas" "Chachapoyas" "Chachapoyas" "Chachapoyas" ...
 $ region   : chr  "Amazonas" "Amazonas" "Amazonas" "Amazonas" ...
 $ unidos   :Class 'labelled' num  1 1 1 1 1 1 1 1 1 1 ...
   .. .. LABEL: Dummy : 1 if Programa Juntos was applied in the district

### Porcentaje de distritos por departamentos que se beneficiaron del Programa Juntos en cada año.

In [64]:
base_a <- distinct(base_total[c("year","distrito","provincia","region","unidos")])

In [66]:
head(base_a)

  year distrito    provincia   region   unidos
1 2015 Chachapoyas Chachapoyas Amazonas 1
2 2016 Chachapoyas Chachapoyas Amazonas 1
3 2017 Chachapoyas Chachapoyas Amazonas 1
4 2019 Chachapoyas Chachapoyas Amazonas 1
5 2018 Chachapoyas Chachapoyas Amazonas 1
6 2019 La Jalca    Chachapoyas Amazonas 0

In [73]:
# Agregar Porcentaje de distritos por 
# departamentos que se beneficiaron del Programa Juntos en cada año
base_b <- base_a %>% group_by(year, region) %>% 
                    summarize(num_distrito = n(), num_distrito_juntos=sum(unidos))
base_b$porc_juntos_depart <- base_b$num_distrito_juntos *100 / base_b$num_distrito
base_b

`summarise()` has grouped output by 'year'. You can override using the `.groups` argument.

    year region        num_distrito num_distrito_juntos porc_juntos_depart
1   2015 Amazonas      10            5                  50.00000
2   2015 Ancash        12            6                  50.00000
3   2015 Apurimac      11            6                  54.54545
4   2015 Arequipa      17           11                  64.70588
5   2015 Ayacucho      13           10                  76.92308
6   2015 Cajamarca     13            6                  46.15385
7   2015 Callao         3            2                  66.66667
8   2015 Cusco         13            2                  15.38462
9   2015 Huancavelica  10            6                  60.00000
10  2015 Huanuco       13            5                  38.46154
11  2015 Ica           14            9                  64.28571
12  2015 Junin         12            7                  58.33333
13  2015 La Libertad   13            6                  46.15385
14  2015 Lambayeque    12            5                  41.66667
15  2015 Lima          37           18                  48.64865
16  2015 Loreto        12            6                  50.00000
17  2015 Madre de Dios  5            3                  60.00000
18  2015 Moquegua       5            3                  60.00000
19  2015 Pasco          7            5                  71.42857
20  2015 Piura         15            5                  33.33333
21  2015 Puno          10            4                  40.00000
22  2015 San Martin    12            6                  50.00000
23  2015 Tacna         10            5                  50.00000
24  2015 Tumbes         7            3                  42.85714
25  2015 Ucayali        8            5                  62.50000
26  2016 Amazonas      10            5                  50.00000
27  2016 Ancash        12            6                  50.00000
28  2016 Apurimac      11            6                  54.54545
29  2016 Arequipa      17           11                  64.70588
30  2016 Ayacucho      13           10                  76.92308
... ...  ...           ...          ...                 ...
96  2018 Puno          10            4                  40.00000
97  2018 San Martin    12            6                  50.00000
98  2018 Tacna         10            5                  50.00000
99  2018 Tumbes         7            3                  42.85714
100 2018 Ucayali        8            5                  62.50000
101 2019 Amazonas      10            5                  50.00000
102 2019 Ancash        12            6                  50.00000
103 2019 Apurimac      11            6                  54.54545
104 2019 Arequipa      17           11                  64.70588
105 2019 Ayacucho      13           10                  76.92308
106 2019 Cajamarca     13            6                  46.15385
107 2019 Callao         3            2                  66.66667
108 2019 Cusco         13            2                  15.38462
109 2019 Huancavelica  10            6                  60.00000
110 2019 Huanuco       13            5                  38.46154
111 2019 Ica           14            9                  64.28571
112 2019 Junin         12            7                  58.33333
113 2019 La Libertad   13            6                  46.15385
114 2019 Lambayeque    12            5                  41.66667
115 2019 Lima          37           18                  48.64865
116 2019 Loreto        12            6                  50.00000
117 2019 Madre de Dios  5            3                  60.00000
118 2019 Moquegua       5            3                  60.00000
119 2019 Pasco          7            5                  71.42857
120 2019 Piura         15            5                  33.33333
121 2019 Puno          10            4                  40.00000
122 2019 San Martin    12            6                  50.00000
123 2019 Tacna         10            5                  50.00000
124 2019 Tumbes         7            3                  42.85714
125 2019 Ucayali        8            5                  62.50000